*{
    font-family: Arial, Helvetica, sans-serif;
}


h1,h5{
    text-align: center;
}
.ImgNoticia{
    float: left;
    width: 18rem;
    
}
.logo{
    height: 30px;
    width: 30px;
}
.boton{
    background-color:rgb(116, 25, 116);
    color:white;
    border: none;
    padding: 10px;
    font-size: 18.5px;
}
.links a{
    text-decoration: none;
    color:black;
    display: block;
    padding: 13px;
}
.links{
    background-color: #f1f1f1;
    width: 185px;
    display: none;
}
.desplegable:hover .links{
    display: block;
}

.clima{
    background:lightblue;
    border-radius: 18px;
}